{
  "ConnectionStrings": {
    "Oracle": "User Id=usuario;Password=senha;Data Source=//host:porta/servico"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*"
}