namespace {{projectName}}.Repositories.Queries;

public static class MyQuery
{    
    public const string GetAll = @"SELECT
                                        ID as Id,
                                        NAME as Name
                                    FROM MyTable";
}