using {{ProjectName}}.Borders.Entities;
using {{ProjectName}}.Repositories.Interfaces;

namespace {{ProjectName}}.Repositories.Implementations
{
    public class ExampleRepository : IExampleRepository
    {
        // ...existing code...
    }
}
